.main-body{
  position:absolute;
  top:33%;
  width:830px;
  min-height: 240px;
  border-radius: 7px;
  margin-left: 28%;
  background-color: white;
  box-shadow: none;

}
.logo-div{
  padding-top: 30px;
  width:60%;
  margin: 0 auto;
}
#logo{
  width:100%;
}
.search-div{
  margin-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
}
