.main-body{
  position:absolute;
  top:33%;
  width:830px;
  min-height: 240px;
  border-radius: 7px;
  margin-left: 28%;
  background-color: white;
  box-shadow: none;

}
.logo-div{
  padding-top: 30px;
  width:60%;
  margin: 0 auto;
}
#logo{
  width:100%;
}
.search-div{
  margin-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
}
.button-inside{
  position:relative;
  margin-bottom:10px;
}
button{
  position:absolute;
  right: 0px;
  top: 4px;
  border:none;
  height:20px;
  width:20px;
  border-radius:100%;
  outline:none;
  text-align:center;
  font-weight:bold;
  padding:2px;
}
.bottom-toolbar img {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
