.main-body{
  top:33%;
  width:830px;
  min-height: 240px;
  /* margin: -58px auto auto -415px;
    margin-top: -58px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: -415px; */
  border-radius: 7px;
  left: 50%;
  box-shadow: none;
}
#logo{
  width:100%;
}
