<footer>
  <ul class="line-1">
    <li><a href="#">Pro</a>  |</li>
    <li><a href="#">Web Apps</a>  |</li>
    <li><a href="#">Mobile Apps</a>  |</li>
    <li><a href="#">Products</a>  |</li>
    <li><a href="#">Business Solutions</a>  |</li>
    <li><a href="#">API & Developer Solutions</a>  |</li>
    <li><a href="#">About</a></li>
  </ul>
  <ul class="line-2">
    <li><a href="#">Resources & Tools</a>  |</li>
    <li><a href="#">Blog</a>  |</li>
    <li><a href="#">Community</a>  |</li>
    <li><a href="#">Contact</a>  |</li>
    <li><a href="#">Connect</a></li>
  </ul>
  <ul class="line-3">
    <li><a href="#">English</a>  |</li>
    <li><a href="#">2018 Wolfram Alpha LLC</a>  |</li>
    <li><a href="#">Terms</a>  |</li>
    <li><a href="#">Privacy</a></li>
  </ul>
  <ul class="line-4">
    <li><a href="#">WOLFRAM</a>  |</li>
    <li><a href="#">wolfram.com</a>  |</li>
    <li><a href="#">Wolfram Language</a>  |</li>
    <li><a href="#">Wolfram for Education</a></li>
  </ul>
  <ul class="line-5">
    <li><a href="#">Wolfram Demonstrations</a>  |</li>
    <li><a href="#">Mathematics</a>  |</li>
    <li><a href="#">MathWorld</a> </li>
  </ul>
</footer>
