
li{
  display: inline-block;
  list-style-type: none;
  color: #888;
}
a{
  color: #888;
}
a:hover {
  color: #666;
  text-decoration: none;
}
.home-footer{
  padding-top: 10px;
  border-top:1px solid #ddd;
}
